{% load static %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/logo.png' %}" alt="Logo" width="50" height="50" class="d-inline-block align-text-center">
      Jairodv
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4"><a class="nav-link"
            href="{% url 'home' %}">Home</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item {% if request.path == '/tasks/' %}active{% endif %} px-lg-4"><a class="nav-link"
            href="{% url 'tasks' %}">Tasks Pending</a>
        </li>
        <li class="nav-item {% if request.path == '/tasks_completed/' %}active{% endif %} px-lg-4">
          <a class="nav-link" href="{% url 'tasks_completed' %}">Task Completed</a>
        </li>
        <li class="nav-item {% if request.path == '/tasks_create/' %}active{% endif %} px-lg-4">
          <a class="nav-link" href="{% url 'task_create' %}">Create Task</a>
        </li>
        <li class="nav-item {% if request.path == '/logout/' %}active{% endif %} px-lg-4"><a class="nav-link"
            href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item {% if request.path == '/signup/' %}active{% endif %} px-lg-4"><a class="nav-link"
            href="{% url 'signup' %}">Signup</a>
        </li>
        <li class="nav-item {% if request.path == '/signin/' %}active{% endif %} px-lg-4">
          <a class="nav-link" href="{% url 'signin' %}">Signin</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

{% endblock navbar %}