{% extends 'base.html' %}
{% load static %}

{% block title %}
Signin
{% endblock title %}

{% block content %}
<div class="container p-4">
  <h3 class="text-center fs-2 text text-secondary">Signin</h3>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}  list-unstyled" {% endif %}>
      <div class="text-bg-warning p-3">
        {{ message }}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<main class="container">
  <section class="col-md-8 offset-md-2">
      <form class="card card-body mb-4" method="POST">
        {% csrf_token %}
        <div class="container py-4">
          <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="username" placeholder="Write your username">
            <label for="username">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="password" placeholder="Write your password">
            <label for="password">Password</label>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary btn-lg mt-4">
              Iniciar Sesión
            </button>
          </div>
        </div>
      </form>
  </section>
</main>

{% endblock content %}