{% extends 'base.html' %}

{% load static %}

{% block title %}
Task details
{% endblock title %}

{% block content %}

<main class="container mb-4">
  <div class="col-md-8 offset-md-2">
    <div class="container">
      <h1 class="text-center my-4">Task details</h1>
    </div>
    <div class="card card-body">
      <form method="POST">
        {% csrf_token %}
        <h2 class="text-secondary">{{task.title}} </h2>
        <p>{{error}}</p>
        {{form}}
        <div class="container py-4 d-flex justify-content-around">
          <button class="btn btn-primary">Update
          </button>
        </div>
      </form>

      <div class="d-flex text-center">
        <div class="container">
          <form action="{% url 'complete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary">Complete</button>
          </form>
        </div>
        <div class="container">
          <form action="{% url 'delete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}