{% extends 'base.html' %}

{% load static %}

{% block title %}
Tasks
{% endblock title %}

{% block content %}

<main class="container">
  <div class="col-md-8 offset-md-2 py-4">

    {% for task in tasks %}
    {% if task.datecompleted %}
    <h3 class="text-center fs-4 text text-secondary">Task Completed</h3>
    {% else %}
    <h3 class="text-center fs-4 text-secondary">Task Pending</h3>
    {% endif %}

    <ul class="list-group">
      <li class="list-group-item">
        <div class="card bg-transparent border-info">
          <div class="card-header d-flex justify-content-between">
            <a class="text-decoration-none" href="{% url 'task_detail' task.id %}">
              {% if task.important %}
              <h3 class="fw-bold text-success">📌 {{task.title}}</h3>
              {% else %}
              <h3 class="fw-bold">{{task.title}}</h3>
              {% endif %}
            </a>
            <p class=" text-body-secondary fst-italic">{{task.user.username}}</p>
          </div>
          <div class="card-body ">
            <p class="card-text">{{task.description}}.</p>
          </div>
          <div class="card-footer text-body-secondary">
            {{task.datecompleted|date:"d M Y"}}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</main>

{% endblock content %}